.block {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	background-color: #f4efd9;
	background-color: rgba(15, 186, 255, 0.2);
}

.countrys {
	width: 40vw;
	height: 70vh;
	/* background-color: rgba(15, 186, 255, 0.2); */
}

.imgDescription {
	/* background-color: slategray; */
	width: 50vw;
	height: 80vh;
	box-shadow: 3px 3px 5px black;

	padding: 1%;
	overflow: auto;
}
.cityCss {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 3%;
}
/* .cityNameCss:hover:after {
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: lightcoral;
} */

.cityCss div {
	background: linear-gradient(#6bebeb, #9198e5);
	width: 22%;
	min-width: 22%;
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cityCss div:hover {
	box-shadow: inset 3px 3px 5px white, -3px -3px -5px white;
}

.cityCss div:active {
	background: linear-gradient(#54e0e0, #7f87df);
}

.cityNameCss {
	color: wheat;
}
.blockImgDesc {
	margin: 2% 0;
	display: flex;
	box-shadow: 3px 3px 5px wheat, -3px -3px 5px wheat;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.blockImgDesc:hover {
	box-shadow: inset #6bebeb 0 0 40px 10px, #6bebeb 0 0 24px 12px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	border-radius: 1.8rem;
	-webkit-border-radius: 1.8rem;
	-moz-border-radius: 1.8rem;
	-ms-border-radius: 1.8rem;
	-o-border-radius: 1.8rem;
}
.blockImgDesc:hover .oneBlockImg {
	border-radius: 1.8rem;
	-webkit-border-radius: 1.8rem;
	-moz-border-radius: 1.8rem;
	-ms-border-radius: 1.8rem;
	-o-border-radius: 1.8rem;
	overflow: auto;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.blockImgDesc:hover .blockP {
	background-color: rgb(211, 202, 202);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.blockImgDesc:hover .blockP p {
	font-size: 1.05em;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.blockImg {
	width: 30%;
	height: 100%;
}
.blockImg img {
	width: 100%;
	height: 100%;
}
.blockP {
	width: 70%;
	height: 100%;
	background-color: rgb(153, 158, 156);
	/* overflow-y: scroll; */
	text-align: center;
}

.oneBlockImg {
	border-radius: 10px;
	width: 100%;
	height: 18vh;
	cursor: pointer;
	display: flex;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	overflow: auto;
}

.divText {
	width: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0 auto;
}

.divText h3 {
	font-size: 24px;
}

.nameAttraction {
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	padding: 10px 0;
	padding-top: 1%;
	text-shadow: 2px 3px 5px black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-bottom: 1px solid rgb(102, 100, 100);
	width: 100%;
	margin: 0 auto;
}

.blockP .describeAttraction {
	font-weight: 550;
	min-height: 13vh;
	height: 70%;
	width: 100%;
	margin: 0;
}

[data-title] {
	position: relative;
	cursor: pointer;
	transition: 0.3s linear opacity;
}
[data-title]:after {
	content: attr(data-title);
	color: black;
	background: linear-gradient(#f3f3f3, #d6d5d5);
	padding: 15%;
	text-align: center;
	/* text-shadow: 1px 1px 3px black; */
	/* clip-path: polygon(
		0% 0%,
		100% 0%,
		100% 70%,
		90% 80%,
		80% 90%,
		70% 100%,
		0% 100%
	); */
	box-shadow: inset 5px 5px 8px #f3f3f3, inset -5px -5px 8px #d6d5d5;
	font-size: 1.2em;
	overflow-wrap: break-word;
	word-wrap: break-word;
	width: 40vw;
	font-size: 1.3em;
	margin-left: 50%;

	position: absolute;
	left: -9999px;
	opacity: 0;
	top: 100%;
	-webkit-transition: 0.2s linear opacity;
	transition: 0.2s linear opacity;

	-moz-transition: 0.2s linear opacity;
	-ms-transition: 0.2s linear opacity;
	-o-transition: 0.2s linear opacity;
}
[data-title]:hover:after {
	left: 5px;
	opacity: 1;
	transition: 0.3s linear opacity;
	-webkit-transition: 0.3s linear opacity;
	-moz-transition: 0.3s linear opacity;
	-ms-transition: 0.3s linear opacity;
	-o-transition: 0.3s linear opacity;
}

.active {
	background-color: chartreuse;
}
