.pageBlock {
	height: 100%;
	background-color: rgb(216, 209, 209);
}

.pageBlock h3 {
	width: 30vw;
	margin: 0 auto;
	border-bottom: 1px solid red;
	font-weight: 800;
	font-size: 30px;
	height: 15vh;
	padding: 2vh 0 2vh 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.cardBlock {
	display: flex;
	justify-content: center;
	height: 100%;
	/* padding-top: 1vh; */
	flex-wrap: wrap;
}

.card {
	width: 20vw;
	height: 36vh;
	background: grey;
	/* margin: 1%; */
	display: flex;
	position: relative;
	/* margin: 5%; */
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.afr {
	background: linear-gradient(0.25turn, #d1c662, #f5e9b6, #eb8a97);
}

.evr {
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #3cdaf6);
	/* background: linear-gradient(
			217deg,
			rgba(0, 255, 234, 0.8),
			rgba(255, 0, 0, 0) 70.71%
		),
		linear-gradient(127deg, rgba(184, 194, 184, 0.8), rgba(0, 255, 0, 0) 70.71%),
		linear-gradient(336deg, rgba(42, 240, 247, 0.8), rgba(0, 0, 255, 0) 70.71%); */
}

.card:hover {
	box-shadow: 3px 3px 5px black, -3px -3px 5px black;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.card__Img img {
	width: 100%;
	height: 100%;
}

.card__Img {
	width: 100%;
	height: 50%;
}

.enter {
	color: steelblue;
	width: 21vw;
	height: 35vh;

	margin: 1%;
}

.discribe__country {
	width: 100%;
	height: 50%;
	text-align: center;
}
.discribe__country b {
	font-size: 20px;
	display: block;
	position: relative;
	height: 25%;
	margin-top: 2%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navLink {
	text-decoration: none;
	color: black;
	font-weight: 800;
	font-size: 16px;
}

.hoverEffect {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	transform: translateY(120%);
	-webkit-transform: translateY(120%);
	-moz-transform: translateY(120%);
	-ms-transform: translateY(120%);
	-o-transform: translateY(120%);
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	cursor: pointer;
	text-align: center;
}

.card:hover .hoverEffect {
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	text-align: center;
	box-shadow: 3px 3px 10px rgb(0, 255, 255) inset;
}

.hoverEffect h2 {
	color: wheat;
}
.hoverEffect p {
	color: rgb(143, 137, 131);
	padding-top: 5%;
}

.flagBlock {
	position: absolute;
	bottom: 50%;
	right: 0;
	width: 5vw;
	height: 4vh;
	/* box-shadow: 2px 2px 2px white; */
}

.flagImg {
	width: 100%;
	height: 100%;
}

.euro {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.marginCard {
	padding: 1% 0;
}
