html {
	position: relative;
	scroll-behavior: smooth;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
}

.Header_nav__1anHF > .active {
	font-family: sans-serif;

	background-color: #2a9cc9;
}
.Header_ref__3hRku .active {
	font-family: sans-serif;

	background-color: #2a9cc9;
}
