html {
	position: relative;
	scroll-behavior: smooth;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
}

.Header_nav__1anHF > .active {
	font-family: sans-serif;
	background-color: #2a9cc9;
}
.Header_ref__3hRku > .active {
	font-family: sans-serif;
	background-color: #2a9cc9;
}

.Headerlist_nav__2IjC7 > .active {
	font-family: sans-serif;
	background-color: #2a9cc9;
}

.HeaderMain_default__k0LfQ > .act {
	font-family: sans-serif;
	background-color: #2a9cc9;
}

.HeaderMain_ref__1_lBq > .act {
	font-family: sans-serif;
	background-color: #2a9cc9;
}

.success {
	background-color: rgb(92, 218, 98);
}
.error {
	background-color: orange;
}
